.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas de igual ancho */
    grid-template-rows: repeat(1, 1fr);
    /* 1 filas de altura automática */
    align-items: center;
    justify-items: space-between;
}
.container_sales{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas de igual ancho */
    grid-template-rows: repeat(1, 1fr);
    /* 1 filas de altura automática */
    
}

.container_products{
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    /* 3 columnas de igual ancho */
    grid-template-rows: repeat(1, 1fr);
    /* 1 filas de altura automática */
    
}

.column {
    display: grid;
    align-items: center;
    justify-content: space-between;
} 

.column_sales {
    display: flex;
    justify-content: space-between; /* Espacio uniforme entre los elementos */
    align-items: flex-start; /* Alinea los elementos al inicio en el eje vertical */
    padding: 5px;
} 


.column-logo {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 5px;    
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ajustar-imagen {
    width: 100%;
    height: auto;
}


.condiciones{
    display: flex;
    align-items: center;
    justify-content: center; 
}



