<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/font.css" />

    <title>Mercado liebre</title>
</head>

<body>

    <header style="background-color: #EAC926;">

        <div class="container">


            <div class="column-logo">
                <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="ajustar-imagen">
            </div>

            <div class="search-container">
                <input type="text" class="search-input" placeholder="Buscar productos, marcas  y más...">
                <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>

            </div>

            <div class="column">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá a cuotas y sin tarjeta de crédito</p>

            </div>
        </div>

        <div class="container_sales">
            <div>
                <nav class="column_sales">
                    <a>Ofertas</a>
                    <a>Tiendas oficiales</a>
                    <a>Vender</a>
                    <a>Ayuda</a>
                </nav>
            </div>

            <div>

            </div>

            <div>
                <nav class="column_sales">
                    <a href="">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a>
                    <a href="">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
                    <a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
                </nav>
            </div>

        </div>
    </header>


    <main style="background-color:#e2e2e2">

        <div>
            <img src="/images/img-home-banner.jpg" alt="logo-navidad" class="ajustar-imagen">
        </div>

        <h2 class="titulares">
            Basado en tu última visita
        </h2>

        <div class="container_products">
            <div class="column_products md-product-shadow">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" class="ajustar-imagen-product">
                <div class="container_descuento">
                    <a class=" precios">$6.770</a>
                    <a class="dcto">40% off</a>
                </div>
                <a class="descripcion">Cafetera moulinex</a>
            </div>

            <div class="column_products md-product-shadow">
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019" class="ajustar-imagen-product">
                <div class="container_descuento">
                    <a class=" precios">$230.00</a>
                    <a class="dcto">20% off</a>
                </div>
                <a class="descripcion">MacBook Pro 2019</a>
            </div>

            <div class="column_products md-product-shadow">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10" class="ajustar-imagen-product">
                <div class="container_descuento">
                    <a class=" precios">$70.500</a>
                    <a class="dcto">10% off</a>
                </div>
                <a class="descripcion">Samsung Galaxy s10</a>
            </div>

            <div class="column_products md-product-shadow">
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart" class="ajustar-imagen-product">
                <div class="container_descuento">
                    <a class=" precios">$23.200</a>
                    <a class="dcto">5% off</a>
                </div>
                <a class="descripcion">SmartTv Samsung 43</a>
            </div>
        </div>

        <!-- Aqui empieza la otra seccion -->
        <h2 class="titulares">
            Sección de ofertas
        </h2>

        <div class="container_products">
            <div class="column_products md-product-shadow">
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" class="ajustar-imagen-product">
                <div class="container_descuento">
                    <a class=" precios">$6.770</a>
                    <a class="dcto">40% off</a>
                </div>
                <a class="descripcion">Cafetera moulinex</a>
            </div>

            <div class="column_products md-product-shadow">
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019" class="ajustar-imagen-product">
                <div class="container_descuento">
                    <a class=" precios">$230.00</a>
                    <a class="dcto">20% off</a>
                </div>
                <a class="descripcion">MacBook Pro 2019</a>
            </div>

            <div class="column_products md-product-shadow">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10" class="ajustar-imagen-product">
                <div class="container_descuento">
                    <a class=" precios">$70.500</a>
                    <a class="dcto">10% off</a>
                </div>
                <a class="descripcion">Samsung Galaxy s10</a>
            </div>

            <div class="column_products md-product-shadow">
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart" class="ajustar-imagen-product">
                <div class="container_descuento">
                    <a class=" precios">$23.200</a>
                    <a class="dcto">5% off</a>
                </div>
                <a class="descripcion">SmartTv Samsung 43</a>
            </div>
        </div>

    </main>

    <footer style="background-color:white">

        <div class="container">
            <div class="column">
                <div class=" icon"><i class="fa-solid fa-credit-card"></i></div>
                <a class="condiciones descripcion-footer">Pagá con tarjeta o en efectivo</a>
                <a class="condiciones cuerpo-texto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
                    efectivo en
                    puntos de
                    pago. ¡Y siempre es seguro!</a>
            </div>

            <div class="column">
                <div class="icon"><i class="fa-solid fa-gift"></i></div>
                <a class="condiciones descripcion-footer">Envío gratis desde $ 2.500</a>
                <a class="condiciones cuerpo-texto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
                    miles de productos. Es un beneficio de Mercado Puntos.</a>
            </div>

            <div class="column">
                <div class="icon"><i class="fa-solid fa-user-shield"></i></div>
                <a class="condiciones descripcion-footer">Seguridad, de principio a fin</a>
                <a class="condiciones cuerpo-texto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
                    puedas hacer,
                    porque estás siempre protegid@.</a>
            </div>

        </div>

        <nav class="condiciones">
            <p class="roboto-bold">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </nav>

    </footer>

</body>

</html>