<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css"/>

    <title>Mercado liebre</title>
</head>
<body>
    <header>
        <h1>
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        </h1>

        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayudas</a></li>
            </ul>
        </nav>
        <nav>
            <ul>
                <li><a href="#">Crea tu cuenta</a></li>
                <li><a href="#">Ingresar</a></li>
                <li><a href="#">Mis comprasr</a></li>
    
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>
                Basado en tu última visita
            </h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                <div>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <p>cafetera moulinex</p>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro-2019">
                <div>
                    <p>$230.00</p>
                    <p>20% off</p>
                    <p>MacBook Pro 2019</p>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung-galaxy-s10">
                <div>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <p>Samsung Galaxy s10</p>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv-samsung-smart">
                <div>
                    <p>$23.200</p>
                    <p>5% off</p>
                    <p>SmartTv Samsung 43"</p>
                </div>
            </article>
        </section>

    </main>

    <footer>

    </footer>

</body>
</html>